# Risk Simulation for SC,AU,CF,SR and OI 2018-2023

Simulation method: 
- Calc weighted close price for all futures
- Find top 1%, 5%, 10% d2d diff and corresponding dates

In [1]:
import os
from process_data import run

# run()

def get_xls_files():
    xchanges = ['ine', 'shfe']
    file_paths = []
    for xchange in xchanges:
        for root, directories, files in os.walk(f'./csv/{xchange}'):
            for filename in files:
                filepath = os.path.join(root, filename)
                file_paths.append(filepath)
    return file_paths

def get_txt_files():
    xchanges = ['czce']
    file_paths = []
    for xchange in xchanges:
        for root, directories, files  in os.walk(f'./csv/{xchange}'):
            for filename in files:
                filepath = os.path.join(root, filename)
                file_paths.append(filepath)
    return file_paths

shfe = get_xls_files()
czce = get_txt_files()

In [3]:
import pandas as pd
import numpy as np

f = shfe[0]
df = pd.read_csv(f)

In [4]:
df

,Contract,Date,pre close,Pre settle,Open,High,Low,Close,Settle,ch1,ch2,Volume,Amount,OI,Unnamed: 14
0,bc2103,20210104,51450.00,51610.00,51380.00,51900.00,51350.00,51790.00,51690.0,180.00,80.00,7207.0,186286.660,10707.0,NaN
1,bc2103,20210105,51790.00,51690.00,51960.00,52100.00,51330.00,51730.00,51700.0,40.00,10.00,10822.0,279754.010,11197.0,NaN
2,bc2103,20210106,51730.00,51700.00,51720.00,52790.00,51690.00,52550.00,52300.0,850.00,600.00,12268.0,320845.075,11041.0,NaN
3,bc2103,20210107,52550.00,52300.00,52740.00,53060.00,52290.00,52930.00,52710.0,630.00,410.00,10550.0,278048.255,10879.0,NaN
4,bc2103,20210108,52930.00,52710.00,52670.00,54060.00,52580.00,53730.00,53470.0,1020.00,760.00,13380.0,357764.420,10695.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30908,sc2203P550,20211229,70.45,70.45,NaN,NaN,NaN,65.20,65.2,-5.25,-5.25,0.0,0.000,0.0,NaN
30909,sc2203P550,20211230,65.20,65.20,67.25,67.25,67.25,67.25,63.8,2.05,-1.40,2.0,13.450,2.0,NaN
30910,sc2203P550,20211231,67.25,63.80,NaN,NaN,NaN,62.20,62.2,-1.60,-1.60,0.0,0.000,2.0,NaN
30911,sc2203P560,20211231,72.20,72.20,NaN,NaN,NaN,70.70,70.7,-1.50,-1.50,0.0,0.000,0.0,NaN
30912,sc2203P570,20211231,81.10,81.10,NaN,NaN,NaN,79.50,79.5,-1.60,-1.60,0.0,0.000,0.0,NaN

In [5]:
d = df[df['Contract'].str.len() == 6]
d['Und'] = df.Contract.str[:2]
dd = d.groupby(['Date', 'Und']).apply(
    lambda x: pd.Series([
        np.average(x['Close'], weights=x['OI'])
    ],index=['WeightedAvgClose'])
).reset_index()

C:\Users\swzftz\AppData\Local\Temp\ipykernel_21680\2881371212.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d['Und'] = df.Contract.str[:2]

In [10]:
dd.reset_index()

         Date Und  WeightedAvgClose
0    20210104  bc      51834.857848
1    20210104  lu       2719.983555
2    20210104  nr      10688.816838
3    20210104  sc        325.905688
4    20210105  bc      51732.352193
..        ...  ..               ...
967  20211230  sc        496.461271
968  20211231  bc      62679.993754
969  20211231  lu       3686.922735
970  20211231  nr      11725.980626
971  20211231  sc        496.952548

[972 rows x 3 columns]